.btn {
    @apply px-5 py-2 transition duration-300 ease-in-out rounded-lg;
}

.file-drag {
    // display: none;
    // position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: rgb(223, 223, 223);
}