<div class="flex items-center justify-between px-5 py-3 border-b-2 md:px-8 md:py-5 lg:px-10 lg:py-7">
    <div>
        XpenseTracker
    </div>
    <div>
        <div class="md:hidden">
            <img src="./../../../assets/icons/auth-icon.svg" alt="auth" class="w-8 h-8 p-1 border-2 border-black rounded-full">
        </div>
        <div class="hidden md:flex">
            <div class="md:mr-6 lg:mr-8 ">
                Login
            </div>
            <div>
                Signup
            </div>
        </div>
    </div>
</div>